@charset "UTF-8";
/* CSS Document */

body
{
	background-color:#333;
	color:#CCC;	
}

h1
{
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	font-size:32px;
	text-align:center;
	color:#CCC;
	padding-top:30px;
	padding-bottom:30px;
	background-color:#fff;
	border-top:solid 3px #CCC;
	border-bottom:solid 3px #CCC;
}

h2
{
	color:#ffffff;	
}

#srch
{
	background-color:#CCC;
	height:20px;
}

#livesrch img
{
	width:50px;	
}

#filterNav ul li
{
	display:inline;	
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	font-size:16px;
	padding-left:7px;
	padding-right:7px;
}

#filterNav ul li a
{
	color:#CCC;
}

#filterNav ul li a:hover
{
	color:#FFF;
}

#filtertext h2
{
	font-family:'Oswald', sans-serif;
	text-transform:uppercase;
	color:#CCC;
	font-size:12px;
}

#footer
{
	background-color:#fff;
	border-top:solid 3px #CCC;
	border-bottom:solid 3px #CCC;
}

#footer h2
{
	padding-top:10px;
	padding-bottom:10px;
	font-family:'Oswald', sans-serif;
	text-transform:uppercase;
	color:#CCC;
	font-size:12px;
	text-align:center;
}

.movies img
{
	border:solid 3px #000;	
}

.movies h2
{
	color:#fff;
	font-family: 'Quattrocento', serif;
	font-size:16px;	
}

.movies a
{
	color:#fff;
	font-family: 'Quattrocento', serif;
	font-size:16px;	
}

.movies a:hover
{
	color:#999;	
}

.movies
{
	text-align:center;
}

#detailimg
{
	width:0px;	
}

